*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff0f0;
}

.header{
    width: 100%;
    height: 7vh;
    color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 15fr;
    gap: 20px;
    justify-content: center;
    align-items: center;

}   

.search{
    background-color: rgb(255, 245, 108);
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    margin-top: 1%;
        box-shadow: 0px 0px 5px #707070;

}
.filter{
    display: flex;
    gap: 2px;
    margin-top: 1%;


}
.btn{
    padding: 10px 20px;
    border: 1px solid #707070;
    box-shadow: 0px 0px 5px #707070;
    border-radius: 5px;
    background-color: #ff922c;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn:hover{
    background-color: #ff7b00;
    border: 4px solid #707070;
    box-shadow: 0px 0px 15px #707070;
}

.btn-dangerous{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: 1px solid #707070;
    box-shadow: 0px 0px 5px #707070;
    border-radius: 5px;
    cursor: pointer;
    height: 80%;
    width: 18%;
}
.btn-dangerous:hover{
    background-color: rgb(255, 0, 0);
    border: 4px solid #707070;
    box-shadow: 0px 0px 15px #707070;
}   

.table{
    border: 1px solid #707070;
    box-shadow: 0px 0px 5px #707070;
    border-radius: 5px;
    display: grid;
    gap: 20px;
    justify-content: center;
    margin: 20px 20px; 
    width: 90vw;
}
.row{
    border-bottom: 1px solid #707070;
    display: flex;
    gap: 20px;
}
.profile-img{
    width: 7%;
    height: 90%;
    object-fit: cover;
}